<section>
    <h2>Add New Expense</h2>

    <form class="new-expense-form">
        <div>
            <label for="expense-title">Title</label>
            <input type="text" id="expense-title" name="expense-title">
        </div>
        <div>
            <label for="expense-description">Description</label>
            <input type="text" id="expense-description" name="expense-description">
        </div>
        <div>
            <label for="expense-due">Due Date</label>
            <input type="text" id="expense-due" name="expense-due" placeholder="MM/DD/YYYY">
        </div>
        <div>
            <label for="expense-amount">Amount</label>
            <input type="text" id="expense-amount" name="expense-amount">
        </div>
        <button type="submit" class="btn">Add</button>
    </form>
</section>
<section >
    <h2>Current Expenses</h2>
   <div class="container">
        <div class="row">
           <span name="expense-title" class="m-2 col-2">Title</span>
            <span name="expense-description" class="m-2 col-3">Description</span>
            <span name="expense-date-due" class="m-2 col-1">Due</span>
            <span name="expense-value" class="m-2 col-4">Value</span>
        </div>     
    {{#if expenses.length}}
    <div class="container">
        {{#each expenses as |expense|}}
        <div class="row">
            <span name="expense-title" class="m-2 col-2">{{expense.title}}</span>
            <span name="expense-description" class="m-2 col-3">{{expense.description}}</span>
            <span name="expense-date-due" class="m-2 col-1">{{format_date date_due}}</span>
            <span name="expense-value" class="m-2 col-1">${{expense.expense_value}}</span>
            <button type="button" class="m-2 col-1 btn btn-success btn-sm paid-post-btn" id="{{expense.id}}" data="{{expense}}">Paid</button>
            <button type="button" class="m-2 col-1 btn btn-warning btn-sm delete-post-btn" id="{{expense.id}}">Delete</button>
        </div>
        {{/each}}
        <h3>Total Due: ${{totalDue}}</h3>
   {{/if}}
</section>

<section>
    <h2>Paid Expenses</h2>
   <div class="container">
        <div class="row">
            <span name="paid-expense-title" class="m-2 col-2">Title</span>
            <span name="paid-expense-description" class="m-2 col-3">Description</span>
            <span name="paid-expense-paid-date" class="m-2 col-1">Date Paid</span>
            <span name="paid-expense-value" class="m-2 col-1">Value</span>
        </div>     
    {{#if paidExpenses.length}}
    <div class="container">
        {{#each paidExpenses as |paidExpense|}}
        <div class="row">
            <span name="paid-expense-title" class="m-2 col-2">{{paidExpense.title}}</span>
            <span name="paid-expense-description" class="m-2 col-3">{{paidExpense.description}}</span>
            <span name="paid-expense-date-due" class="m-2 col-1">{{format_date date_paid}}</span>
            <span name="paid-expense-value" class="m-2 col-1">${{paidExpense.expense_value}}</span>
            <button type="button" class="m-2 col-1 btn btn-danger btn-sm notpaid-post-btn" id="{{paidExpense.id}}" data="{{paidExpense}}">Not Paid</button>
            <button type="button" class="m-2 col-1 btn btn-warning btn-sm delete-post-btn" id="{{paidExpense.id}}">Delete</button>
        </div>
        {{/each}}
        <h3>Total Paid: ${{totalPaid}}</h3>
   {{/if}}
</section>

<script src="/javascript/add-expense.js"></script>
{{#if expenses.length}}
<script src="/javascript/delete-expense.js"></script>
<script src="/javascript/paid-expense.js"></script>
{{/if}}

{{#if paidExpenses.length}}
<script src="/javascript/delete-expense.js"></script>
<script src="/javascript/not-paid-expense.js"></script>
{{/if}}
