<section>
    <h2>Add New Expense</h2>

    <form class="new-expense-form">
        <div>
            <label for="expense-title">Title</label>
            <input type="text" id="expense-title" name="expense-title">
        </div>
        <div>
            <label for="expense-description">Description</label>
            <input type="text" id="expense-description" name="expense-description">
        </div>
        <div>
            <label for="expense-due">Due Date</label>
            <input type="text" id="expense-due" name="expense-due" placeholder="MM/DD/YYYY">
        </div>
        <div>
            <label for="expense-amount">Amount</label>
            <input type="text" id="expense-amount" name="expense-amount">
        </div>
        <button type="submit" class="btn">Add</button>
    </form>
</section>
<section>
    <h2>Current Expenses</h2>
   <div class="container">
        <div class="row">
            <span name="expense-title" class="m-2 col-2">Title</span>
            <span name="expense-description" class="m-2 col-3">Description</span>
            <span name="expense-date-due" class="m-2 col-1">Due</span>
            <span name="expense-value" class="m-2 col-1">Value</span>
        </div>     
    {{#if expenses.length}}
    <div class="container">
        {{#each expenses as |expense|}}
        <div class="row">
            <span name="expense-title" class="m-2 col-2">{{expense.title}}</span>
            <span name="expense-description" class="m-2 col-3">{{expense.description}}</span>
            <span name="expense-date-due" class="m-2 col-1">{{format_date date_due}}</span>
            <span name="expense-value" class="m-2 col-1">${{expense.expense_value}}</span>
            <button type="button" class="m-2 col-1 btn btn-success btn-sm paid-post-btn" id="{{expense.id}}">Paid</button>
            <button type="button" class="m-2 col-1 btn btn-warning btn-sm delete-post-btn" id="{{expense.id}}">Delete</button>
        </div>
        {{/each}}
                {{!-- <div class="row">
            <span class="col-2">Dummy Title</span>
            <span class="col-4">Dummy Description, adding more text so we can get a good idea of what happens when it exists</span>
            <span class="col-3">11/12/1314</span>
            <span class="col-3">100</span>
        </div>
    </div> --}}
   {{/if}}
</section>

<script src="/javascript/add-expense.js"></script>
    {{#if expenses.length}}
<script src="/javascript/delete-expense.js"></script>
<script src="/javascript/paid-expense.js"></script>
{{/if}}

